{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
           
          
            <p><class="article-content">{{ post.content }}</p>

            <p><class="article-content">{{ post.content2 }}</p>
            

                 
           <!--  <a href="{{ 'https://goo.gl/qBXHkB' }}">Download</a> -->
            <a href="{{ url_for('static', filename='smithchart.jpg') }}">Download Smith Chart</a>    

 

            
            </a> 

          </div>
        </article>
    {% endfor %}

    {% for post in posts2 %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
           
          <ol>
            <li><class="article-content">{{ post.content }}</li>
            <br>
            <li><class="article-content">{{ post.content2 }}</li>
            <br>
            <li><class="article-content">{{ post.content3 }}</li>
            <br>
            <li><class="article-content">{{ post.content4 }}</li>
            <br>
            <li><class="article-content">{{ post.content5 }}</li>
            <br>
            <li><class="article-content">{{ post.content6 }}</li>
          </ol>

        

          
          </div>
        </article>
    {% endfor %}


   

    


{% endblock content %}